#page-left-first-wrapper .block {
  background-color: #eee;
  color: #4F4E55;
  margin: 1.1em 0 2em;
  padding: 1em;
}
#page-left-first-wrapper .block p{
color: #2f2f26;	
}
.nodeprime-list{
list-style-type: decimal;
    padding: 0 8px;
    color: #083880;
}
.nodeprime-list li{
padding: 8px 0;		
}